{% extends 'blog/base.html' %}

{% block content %}

    <main class="content">
        <div class="container p-0">
            <h3>What Group Would You Like To Enter?</h3>
            <article class="media content-section">
            <form style="width: 100%;" action="" method='post' enctype="multipart/form-data">
                {% csrf_token %}
                <div class="input-group">
                    <input name='group_name' id='enter-group' type="text" class="form-control" placeholder="Enter Name of a Group...">
                    <button type="submit" id='enter-sumbit' class="btn btn-primary">Enter</button>
                </div>
            </form>
            </article>
            <div style="text-align:center;">
                <a href="{% url 'create-group' %}" class="btn btn-success">Create a New Group</a>
            </div>
        </div>
        
    </main>
        <main class="content">
    <div class="container p-0">
        <span style="text-align: center;">
            <hr>
            <h1 class="h3 mb-3">Lobby</h1>
            <hr><hr>
        </span>
		<div class="card">
			<div class="row g-0">
				<div class="col-12 col-lg-7 col-xl-9">
					<div class="py-2 px-4 border-bottom d-none d-lg-block">
					</div>

					<div class="position-relative">
						<div id="msg-tab" class="chat-messages p-4">
                            {% for chat in chats %}
                                <div class="flex-shrink-1 bg-light rounded py-2 px-3 ml-3 mb-3">
									<div class="font-weight-bold mb-1">{{chat.author}}</div>
									{{chat.content}}
								</div>
                            {% endfor %}

						</div>
					</div>

					<div class="flex-grow-0 py-3 px-4 border-top">
						<div class="input-group">
							<input id="chat-message-input" type="text" class="form-control" placeholder="Type your message">
							<button id="chat-message-submit" class="btn btn-primary">Send</button>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
    <small class="mb-3">messages here will be visible to everyone on this page</small>
    </main>
    {{request.user.username|json_script:"current_user_lobby"}}


{% endblock content %}


