{% extends 'blog/base.html' %}

{% block content %}
    <article class="media content-section">
        <img src="{{ object.author.profile.image.url }}" class="rounded-circle article-img">
        <div class="media-body">
            <div class="article-metadata">
                <a href="#" class="mr-2">{{ object.author }}</a>
                <small class="text-muted">{{ object.date_posted|date:"d F, Y" }}</small>
            </div>
            <h2 class="article-title">{{ object.title }}</h2>
            <p class="article-content">{{ object.content }}</p>
        </div>
    </article>
    <a class="like-btn"  style="text-decoration:none" href="{% url 'post-like' post.id%}"><i class="fa-regular fa-thumbs-up"></i> {{object.likes_count}}</a>
    <a class="like-btn"  style="text-decoration:none; color:red" href="{% url 'post-dislike' post.id%}"><i class="fa-regular fa-thumbs-down fa-flip-horizontal"></i> {{object.dislikes_count}}</a>
    <h3>Comments: ({{object.comments.all.count}})</h3>
    <a class = "btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'add-comment' object.id%}">Add a comment</a>
    {% for comment in object.comments.all %}
        <article class="media content-section">
        <img class="rounded-circle-sm article-img" src="{{comment.author.profile.image.url}}" >
            <div class="media-body">
                <div class="article-metadata">
                    <a class="mr-2" href="#">{{ comment.author }}</a>
                    <small class="text-muted">{{ comment.date_posted|date:"d F, Y" }}</small>
                </div>
                <p class="article-content">{{ comment.body }}</p>
            </div>
        </article>
    {% endfor %}
    

{% endblock content %}

